body {
	font-family: small arial ;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
}

a {
	text-decoration: none;
}

a:link {
	color: black;
}

a:hover {
	text-decoration:underline;
}


nav {	
	display: inline-block;
	width: 100%;
    height: 50px;
    word-spacing: 1em;
}

nav ul {
	float: right;
	margin-right: 25px;
}

nav ul li{
	display: inline;
	position: right;
}

#appslogo {
	height: 24px;
	width: 20px;
	vertical-align: middle;
}

#signinbutton {
	height: 30px;
	width: 65px;
	background-color: #2E8AE6;
	color: white;
	font-weight: bold;
}

#searchbutton {
	margin-right: 15px;
}

section {
	text-align: center;
	padding-top: 200px;
}

section form input {
	width: 600px;
	height: 23px;
}

section form button {
	height: 29px;
	font-weight: bold;
}

footer {
	display: inline-block;
	width: 100%;
	background-color: #f2f2f2;
    height: 40px;
    bottom: 0px;
    position: fixed;
}

footer ul li {
	display: inline;
}

#b_l_l {
	display: inline-block;
	word-spacing: 2em;
	float:left;
	color: gray;
}

#b_r_l {
	display: inline-block;
	word-spacing: 2em;
	padding-right: 30px;
	float:right;
}

#b_l_l ul li a {
	color: #656;
}

#b_r_l ul li a, #b_r_l ul li {
	color: #656;
}
